bluemix.json
[{"id":"7e822c1d.dafb04","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"dfde2791.8d2588","type":"ibmiot in","z":"7e822c1d.dafb04","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"b12700db.af525","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":60,"wires":[["a3826f64.7ed048","c00eb826.54d428","8044c619.8ceb4","b0042aaf.c2665"]]},{"id":"a3826f64.7ed048","type":"debug","z":"7e822c1d.dafb04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":60,"wires":[]},{"id":"794f97b6.447e5","type":"ui_button","z":"7e822c1d.dafb04","name":"","group":"5f3ddcbb.8364a4","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":140,"wires":[[]]},{"id":"c00eb826.54d428","type":"function","z":"7e822c1d.dafb04","name":"temp","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":160,"wires":[["d1af41aa.71a108"]]},{"id":"8044c619.8ceb4","type":"function","z":"7e822c1d.dafb04","name":"humidity","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":220,"wires":[["f3c0afa3.7b299"]]},{"id":"b0042aaf.c2665","type":"function","z":"7e822c1d.dafb04","name":"pressure","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":280,"wires":[["d0ce7eed.d02848"]]},{"id":"d1af41aa.71a108","type":"ui_gauge","z":"7e822c1d.dafb04","name":"","group":"5f3ddcbb.8364a4","order":1,"width":0,"height":0,"gtype":"gage","title":"temp","label":"units","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":160,"wires":[]},{"id":"f3c0afa3.7b299","type":"ui_gauge","z":"7e822c1d.dafb04","name":"","group":"5f3ddcbb.8364a4","order":2,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":220,"wires":[]},{"id":"d0ce7eed.d02848","type":"ui_gauge","z":"7e822c1d.dafb04","name":"","group":"5f3ddcbb.8364a4","order":3,"width":0,"height":0,"gtype":"gage","title":"pressure","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":280,"wires":[]},{"id":"5f3ddcbb.8364a4","type":"ui_group","name":"Default","tab":"166c4498.1069cb","order":1,"disp":true,"width":"6","collapse":false},{"id":"166c4498.1069cb","type":"ui_tab","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]