raspberrypi.json
[{"id":"ae2db3aa.a7103","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b6f0695.3f0ee8","type":"debug","z":"ae2db3aa.a7103","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":220,"wires":[]},{"id":"edbdc171.2da6d","type":"rpi-sensehatsim in","z":"ae2db3aa.a7103","name":"","motion":false,"env":true,"stick":false,"x":100,"y":40,"wires":[["9b9065da.e9a268"]]},{"id":"9b9065da.e9a268","type":"delay","z":"ae2db3aa.a7103","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":40,"wires":[["2fddeea.9d85012"]]},{"id":"2fddeea.9d85012","type":"function","z":"ae2db3aa.a7103","name":"Env. Data","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId =\"senb74da386e6101\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["9b6f0695.3f0ee8","b12700db.af525"]]},{"id":"b12700db.af525","type":"wiotp out","z":"ae2db3aa.a7103","authType":"g","qs":"true","qsDeviceId":"b12700db.af525","deviceKey":"","deviceType":"raspberrypiGW","deviceId":"0800272664E4","event":"event","format":"json","qos":"","name":"","x":290,"y":260,"wires":[]},{"id":"27f49938.8ccd86","type":"debug","z":"ae2db3aa.a7103","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":660,"wires":[]},{"id":"64b8e8fa.00f258","type":"ibmiot in","z":"ae2db3aa.a7103","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"abcd","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":500,"y":660,"wires":[["27f49938.8ccd86"]]}]